{% load static %}

<style>
    .sidenav {
        height: 100vh;
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #343a40; /* dark gray from Bootstrap */
        overflow-y: auto; /* Allows the sidebar to scroll if the content is too much */
        padding-top: 40px;
        transition: all 0.3s;
        border-right: 1px solid rgba(255, 255, 255, 0.1); /* subtle border */
    }

    .sidenav a, .sidenav button {
        text-decoration: none;
        display: block;
        transition: all 0.3s;
        color: #adb5bd; /* Bootstrap's secondary gray */
    }

    .sidenav a:hover, .sidenav button:hover {
        color: #ffffff;
        background-color: rgba(0, 123, 255, 0.1); /* Bootstrap's primary blue with low opacity */
    }

    .dropdown-menu {
        margin-top: -1px; /* Removes the gap between button and dropdown */
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    .dropdown-menu a {
        color: #adb5bd;
    }

    .dropdown-menu a:hover {
        color: #ffffff;
        background-color: rgba(0, 123, 255, 0.1);
    }

    /* Responsive: hide sidebar on small screens and provide a toggle button */
    @media screen and (max-width: 767px) {
        .sidenav {
            width: 0;
        }

        .sidenav.toggled {
            width: 250px;
        }
    }
</style>

<div class="sidenav">
    <a href="{%url 'home'%}" class="nav-link">Home</a>
    <div class="dropdown">
        <button class="btn btn-transparent w-100 text-start" data-bs-toggle="dropdown">Core</button>
        <ul class="dropdown-menu w-100">
            <li><a class="dropdown-item" href="{%url 'company_list'%}">Companys</a></li>
            <li><a class="dropdown-item" href="{%url 'store_list'%}">Stores</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-transparent w-100 text-start" data-bs-toggle="dropdown">Inventory</button>
        <ul class="dropdown-menu w-100">
            <li><a class="dropdown-item" href="{%url 'item_list'%}">Items</a></li>
            <li><a class="dropdown-item" href="{%url 'supplier_list'%}">Suppliers</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-transparent w-100 text-start" data-bs-toggle="dropdown">SalesOrder</button>
        <ul class="dropdown-menu w-100">
            <li><a class="dropdown-item" href="{%url 'customer_list'%}">Customers</a></li>
            <li><a class="dropdown-item" href="{%url 'salesorder_list'%}">Salesorders</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-transparent w-100 text-start" data-bs-toggle="dropdown">PurchaseOrder</button>
        <ul class="dropdown-menu w-100">
            <li><a class="dropdown-item" href="{%url 'purchaseorder_list'%}">Purchaseorders</a></li>
        </ul>
    </div>
    <a href="#" class="nav-link">Contact</a>
    <a href="#" class="nav-link">About</a>
</div>
