{% extends "layouts/base.html" %}
{%block msg%}
<h1>customers</h1>
<table class="table table-bordered table-hover table-dark" border="1" width="100%">
    <tr class="display-6">
        <th>first name</th>
        <th>last_name</th>
</tr>
    {% for i in customer_list%}
    <tr>
       <td><a href="{%url 'customer_detail' pk=i.id %}">{{i.first_name}}</td></a>
        <td>{{i.last_name}}</td>
    </tr>
    {%endfor%}
</table>
<a href="{%url 'customer_create'%}"><button style="float:right;" class="btn btn-outline-info" type="button">Add Customer</button></a>

{%endblock%}