

{% extends "layouts/base.html" %}
{%block msg%}
<div class="container">
    <h1>Companies</h1>
<table class="table table-borderless table-hover table-dark">
    <thead class="table-success">
    <tr >
        <th>company-name</th>
    </tr></thead>
    {%for i in company_list%}
    <tr>
        <td><a href="{% url 'company_detail' pk=i.id %}">{{i.name}}</a></td>

</tr>
{%endfor%}
</table>
<a href="{%url 'company_create'%}"><button style="float:right;" class="btn btn-outline-info" type="button" ">Add Company</button></a>

</div>
{%endblock%}
