{% extends "layouts/base.html" %}


{% block content %}

<div class="text-center mb-4">
    <h2>Welcome to the Inventory Management System</h2>
    <br>
    <p>Quick statistics about our current inventory:</p>
    <br>
</div>

<div class="row justify-content-center">
    <div class="col-md-4 mb-3">
        <div class="card text-dark bg-success">
            <div class="card-body">
                <h4 class="card-title">Items</h4>
                <p class="display-4">{{ items }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-dark bg-secondary">
            <div class="card-body">
                <h4 class="card-title">Customers</h4>
                <p class="display-4">{{ customers }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-dark bg-info">
            <div class="card-body">
                <h4 class="card-title">Suppliers</h4>
                <p class="display-4">{{ suppliers }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-dark bg-danger">
            <div class="card-body">
                <h4 class="card-title">Purchase Orders</h4>
                <p class="display-4">{{ purchaseorders }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-dark bg-primary">
            <div class="card-body">
                <h4 class="card-title">Sales Orders</h4>
                <p class="display-4">{{ salesorders }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
