
{% extends "layouts/base.html" %}
{%block msg%}
<div class="container">
    <h1>stores</h1>
<table class="table table-bordered table-hover table-dark" border="1" width="100%">
    <thead class="table-success">
    <tr>
        <th class="jumbotron">store_number</th>
        <th class="jumbotron">company</th>
    </tr>
</thead>
{%for i in store_list%}
    <tr>
    <td><a href="{%url 'store-detail' pk=i.id%}">{{i.store_number}}</a></td>
    <td>{{i.company}}</td>
        {%endfor%}
</tr>
</table>
<a href="{%url 'store_create'%}"><button style="float:right;" class="btn btn-outline-info" type="button">Add Store</button></a>

</div>
{%endblock%}
