
{% extends "layouts/base.html" %}
{%block msg%}
<div class="container pt-4">
    <h1>items</h1>
<table class="table table-bordered table-hover table-dark" border="1" width="100%">
    <thead class="table-success">
    <tr >
        <h1><th>name</th></h1>
        <th>cost_price</th>
        <th>selling_price</th>
    </tr></thead>
    {%for i in item_list%}
    <tr>
        <td>{{i.name}}</td>
        <td>{{i.cost_price}}</td>
        <td>{{i.selling_price}}</td>
</tr>
{%endfor%}
</table>
</div>
{%endblock%}
