{% extends "layouts/base.html"%}
{% block msg%}
<div class="container">
    <h1>item detail</h1>
   
    
<table class="table table-bordered table-hover table-dark" border="1">
    <thead class="table-success">
    <tr >
        <th>name</th>
        <th>store</th>
        <th>SKU number</th>
        <th>cost_price</th>
        <th>selling_price</th>
        <th>maxstock</th>
        <th>onhand stock</th>
        <th>reorder point</th>
        <th>supplier</th>
        
        
    </tr></thead>
    
    <tr>
        <td>{{item.name}}</td>
        <td>{{item.store}}</td>
        <td>{{item.sku_number}}</td>
        <td>{{item.cost_price}}</td>
        <td>{{item.selling_price}}</td>
        <td>{{item.max_stock}}</td>
        <td>{{item.onhand_stock}}</td>
        <td>{{item.reorder_point}}</td>
        <td>{{item.preferred_supplier}}</td>
        



</tr>
</table>
</div>
</div>
{% endblock%}