{% extends "layouts/base.html"%}
{% block msg%}
<div class="container">
    <h1>Supplier detail</h1>
   
    
<table class="table table-bordered table-hover table-dark" border="1" width="100%">
    <thead class="table-success">
    <tr class="display-6">
        <th>company</th>
        <th>first_name</th>
        <th>last_name</th>
        <th>email</th>
        <th>phone</th>
        <th>address</th>
        
    </tr></thead>
    
    <tr>
        <td>{{supplier.company}}</td>
        <td>{{supplier.first_name}}</td>
        <td>{{supplier.last_name}}</td>
        <td>{{supplier.email}}</td>
        <td>{{supplier.phone}}</td>
        <td>{{supplier.address}}</td>
        
        



</tr>
</table>
</div>
<a href="{%url 'supplier_update' pk=supplier.id %}"><button class="btn btn-outline-primary" type="button" style="text-align:right">Edit</button></a>
<a href="{%url 'supplier_delete' pk=supplier.id %}"><button class="btn btn-outline-danger" type="button" style="text-align:right">Delete</button></a>
</div>
{% endblock%}